@import '../../assets/styles/style.scss';

.cart-list{
  list-style-type: none;
  padding: 0;
  min-width: 320px;
  li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cart-item{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .product-name{
      width: 120px;
      text-overflow: ellipsis;
    }
    .product-count{
      width: 26px;
      margin-left: auto;
    }
    .trash-button{
      background-color: $white;
      border: none;
      color: $red;
      width: 26px;
    }
  }
}