@import "../../../assets/styles/style.scss";

.banner{
  // .slick-slide{
  //   min-height: 80vh;
  //   position: relative;
  //   .container{
  //     min-height: 80vh;
  //     display: flex;
  //     align-items: center;
  //   }
  //   img{
  //     position: absolute;
  //     z-index: -1;  
  //     object-fit: cover;
  //     object-position: center;
  //     height: 100%;
  //     width: 100%;
  //   }
  //   .slider-inner{
  //     padding: $spacing-20 0;
  //     height: 80%;
  //     text-align: left;
  //   }
  //   .banner-heading{
  //     max-width: 400px;
  //     padding: $spacing-3 0 $spacing-4;
  //   }
  // }

  // .slick-dots{
  //   bottom: 8px;
  // }
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  .overlay{
    width: 100%;
  }
  .banner-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .banner-heading{
    padding: $spacing-20 0;
    text-align: left;
    display: block;
    color: $white;
    font-size: 120px;
    line-height: 130px;
    font-weight: $font-bold;
    margin: auto;
    width: 100%;
  }
}